%h1 Listing tasks

%table
  %tr
    %th{:class => 'side_header'}
    %th{:class => 'top_header'} Urgent
    %th{:class => 'top_header'} Not Urgent
  %tr
    %th
      %p{:class => 'vertical_text'} Important
    %td= render 'tasks_in_quadrant', :tasks => Task.items_in_quadrant_1, :quadrant => 1
    %td= render 'tasks_in_quadrant', :tasks => Task.items_in_quadrant_2, :quadrant => 2
  %tr 
    %th
      %p{:class => 'vertical_text'} Not Important
    %td= render 'tasks_in_quadrant', :tasks => Task.items_in_quadrant_3, :quadrant => 3
    %td= render 'tasks_in_quadrant', :tasks => Task.items_in_quadrant_4, :quadrant => 4

